LAZY_MONITOR__SERVER_URL=http://127.0.0.1:8765
LAZY_MONITOR__STUDENTID=3240100106
LAZY_MONITOR__PASSWORD=***
LAZY_MONITOR__OWNER_QQ=123456789
LAZY_MONITOR__POLL_INTERVAL=30
LAZY_MONITOR__NOTIFY_GROUPS=[123456789]
LAZY_MONITOR__NOTIFY_USERS=[987654321]
LAZY_MONITOR__ENABLE_ROLLCALL=true
LAZY_MONITOR__ENABLE_TODO=true
LAZY_MONITOR__MAX_RETRIES=3
LAZY_MONITOR__RETRY_DELAY=5
